*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(22, 22, 37);
}
.navigation{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background: #212532;
    border-radius: 10px; 
    cursor: pointer;
    transition: 0.5s;
    transition-delay: 0.8s;
}
.navigation.active{
    width: 200px;
    height: 200px;
    border-radius: 18px;
    transition-delay: 0s;

}
.navigation span{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: aliceblue; */
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: aliceblue;
    transform: translate(calc(12px * var(--x)),calc(12px * var(--y)));
    transition: transform 0.5s,width 0.5s,height 0.5s, background-color 0.5s ;
    transition-delay: calc(0.1s * var(--i));
}
.navigation.active span{
    width: 45px;
    height: 45px;
    background-color: #303649;
    transform: translate(calc(65px * var(--x)),calc(65px * var(--y)));
    /* transition : 0.5s; */

}
.navigation span ion-icon{
    /* font-size: 0em; */
    transition: 0.2 s;
    font-size: 0em;
}
.navigation.active span ion-icon{
    font-size: 1.35em;
    color: aliceblue;
}
.navigation.active span:hover ion-icon{
    color:greenyellow;
    filter: drop-shadow(0 0 2px greenyellow) drop-shadow(0 0 5px greenyellow) drop-shadow(0 0 15px greenyellow);
}
.navigation.active span.close-button:hover ion-icon{ 
    color:rgb(255, 88, 11);
    filter: drop-shadow(0 0 2px rgb(255, 88, 11)) drop-shadow(0 0 5px rgb(255, 88, 11)) drop-shadow(0 0 15px rgb(255, 88, 11));

}

